body {
  padding: 0;
  margin: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

/*
.new-flag {
  position: relative;
  overflow: hidden;
}

.new-flag::after {
  position: absolute;
  top: 6px;
  right: -22px;

  content: "new";
  width: 84px;
  padding: 6px 0 7px 0;

  font-size: 15px;
  line-height: 15px;
  color: #ffffff;
  text-align: center;

  background-color: #ff5257;

  transform: rotate(45deg);
}
*/

.button {
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #ee3643;
}

.button:hover {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.section-title {
  margin: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.section-title-darkblue {
  color: #32425c;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 940px;
}

/*
================================================
Стили хэдера
================================================
*/

.main-header {
  padding-bottom: 60px;

  background-color: #f4f7f9;
}

.header-top a,
.header-navigation a {
  color: #ffffff;
}

.header-top {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.header-top .container {
  display: flex;
}

.header-top input {
  background-color: #293449;
  border: none;
}

.header-top .header-order {
  background-color: #63a63e;
}

.header-top input:hover,
.header-top a:hover {
  background-color: #212a3a;
}

.header-top .header-order:hover {
  background-color: #5fbb2d;
}

.header-top a:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #161d29;
}

.header-top .header-order:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #518534;
}

.header-top input:focus {
  color: #000000;

  background-color: #ffffff;
}

.header-middle {
  display: flex;
}

.header-slogan {
  width: 197px;
  margin-left: 53px;

  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.header-contacts {
  width: 270px;
  margin-left: 70px;
}

.header-phone {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.header-adress {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.header-not-authorized,
.header-authorized {
  margin-left: auto;
}

.header-not-authorized,
.header-authorized-user {
  font-size: 21px;
  line-height: 21px;;
}

.header-not-authorized a,
.header-authorized-user a {
  color: #000000;
}

.header-not-authorized a:hover,
.header-authorized-user a:hover {
  color: #ee3643;
}

.header-not-authorized a:active,
.header-authorized-user a:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-user-navigation {
  list-style: none;
}

.header-user-navigation a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.header-user-navigation a:hover {
  color: #ee3643;
}

.header-user-navigation a:active {
  color: rgba(50, 66, 92, 0.3);
}

.navigation-list {
  list-style: none;
}

.header-navigation {
  font-size: 17px;
  line-height: 17px;

  background-color: #32425c;
}

.header-navigation a:hover {
  background-color: #293449;
}

.header-navigation a:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #1d2739;
}

/*
================================================
Стили main index.html
================================================
*/

.offers {
  color: #ffffff;
}

.offers-block {
  display: flex;
  margin-bottom: 53px;

  justify-content: space-between;
}

.offers-group-horizontal,
.offers-group-vertical {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.offers-group-vertical {
  flex-direction: column;
}

.offers-item {
  width: 300px;
}

.offers-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.offers-item-materials {
  background-color: #ffbf47;
}

.offers-item-tools {
  background-color: #3bbce3;
}

.offers-item-technics {
  background-color: #dc91d8;
}

.offers-item-discount {
  background-color: #8ed78f;
}

.offers-item-delivery {
  background-color: #ffc047;
}

.slider h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.slide {
  width: 620px;
  height: 266px;
}

.slide p {
  font-size: 18px;
  line-height: 24px;
}

.slide-drills {
  background-image: url("../img/slide-drills.jpg");
  background-repeat: no-repeat;
}

.slide-perforators {
  display: none;
  background-image: url("../img/slide-perforators.jpg");
  background-repeat: no-repeat;
}

.button-offers {
  background-color: rgba(0, 0, 0, 0.1);
}

.button-offers:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.button-offers:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.popular-header {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-between;

  background-color: #f9f5f0;
}

.popular-products-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;

  list-style: none;
}

.catalog-item-navigation {
  list-style: none;
}

.catalog-item {
  width: 218px;
}

.catalog-item h3 {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
}

.catalog-item:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.catalog-old-price {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: line-through;
  color: #a9a9a9;
}

.catalog-price {
  width: 140px;
  height: 38px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;

  background-image: url("../img/red-button.svg");
}

.button-buy {
  color: #ffffff;

  background-color: #63a63e;
  box-shadow: inset 0 -3px 0 #367315;
}

.button-buy:hover {
  background-color: #5fbb2d;
  box-shadow: inset 0 -3px 0 #367315;
}

.button-buy:active {
  background-color: #518534;
  box-shadow: none;
}

.button-bookmarking {
  color: #32425c;

  background-color: #ffffff;
  border: 3px solid #63a63e;
}

.button-bookmarking:hover {
  background-color: #ffffff;
  border: 3px solid #32425c;
}

.button-bookmarking:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #ffffff;
  border: 3px solid rgba(50, 66, 92, 0.3);
}

.popular-brands-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 85px;

  list-style: none;
}

.popular-brands-list a {
  display: block;
  width: 218px;
  height: 143px;

  background-color: #ffffff;
}

.popular-brands-list a:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.popular-brands-list a:active {
  box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
}

.services {
  margin-bottom: 80px;
  padding: 65px 0 99px 0;

  color: #000000;

  background-color: #f4f8fa;
}

.services-block {
  display: flex;
}

.services p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

.services-list {
  list-style: none;
}

.services-item {
  font: inherit;

  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;

  background-color: #32425c;
  border: none;
}

.services-item:hover {
  background-color: #293449;

  cursor: pointer;
}

.services-item-active,
.services-item-active:hover {
  color: #32425c;

  background-color: #ffffff;
}

.services h3 {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
  color: #32425c;
}

.about-company-contacts .container {
  display: flex;
  margin-bottom: 86px;

  justify-content: space-between;
}

.about-company {
  width: 530px;

  color: #000000;
}

.about-company p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

.partners {
  font-size: 18px;
  line-height: 20px;
}

.map {
  display: block;
}

.contacts {
  color: #000000;
}

.contacts p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

/*
================================================
Стили main catalog.html
================================================
*/

.breadcrumbs {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;

  list-style: none;
}

.breadcrumbs a {
  color: #000000;
}

.catalog-title {
  margin: 0;
  margin-bottom: 20px;

  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;

  background-color: #f2f6f8;
}

.catalog-items-block {
  display: flex;
}

.filters {
  width: 220px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}

.filters h2 {
  margin: 0;

  font-size: 13px;
  font-weight: 400;
  line-height: 18px;

  background-color: #f7f3ec;
}

.filters fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.filters legend {
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
}

.filters ul {
  list-style: none;

  line-height: 40px;
}

.range-block {
  background-color: #f7f3ec;
}

.filters-price p {
  font-size: 16px;
  line-height: 18px;
}

.filters-price span {
  font-size: 17px;

  background-color: #f7f3ec;
}

.filters input:disabled + label {
  color: rgba(0, 0, 0, 0.4);
}

.show-button {
  font: inherit;

  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.sorting {
  margin-bottom: 20px;

  background-color: #f7f3ec;
}

.sorting h3 {
  display: inline-block;
  margin: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.sorting-item {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;

  border-bottom: 1px dotted #ee3643;
}

.sorting-item:hover {
  color: #000000;

  border-bottom: 1px solid #ee3643;
}

.sorting-item-active,
.sorting-item-active:hover {
  color: #ee3643;

  border: none;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 52px;
  justify-content: space-between;

  list-style: none;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 60px;

  list-style: none;
}

.pagination-item {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.pagination-item:hover {
  border: 1px solid #bdc6ca;
}

.pagination-item:active {
  border: 1px solid #ee3643;
}

.pagination-item-current,
.pagination-item-current:hover,
.pagination-item-current:active {
  color: #ffffff;

  background-color: #ee3643;
  border: none;
}

.perforator-info {
  padding: 62px 0 68px 0;
  color: #000000;

  background-color: #f2f6f8;
}

.perforator-info p {
  margin: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

/*
================================================
Стили модального окна на index.html
================================================
*/

.popup-message {
  display: none;
  color: #000000;

  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
}

.popup-message label {
  font-size: 18px;
  line-height: 18px;
}

.popup-message-top {
  background-color: #ffffff;
}

.popup-message-bottom {
  background-color: #f4f4f4;
}

.button-send {
  border: none;
}

.button-send:hover {
  cursor: pointer;
}

/*
================================================
Стили модального окна на catalog.html
================================================
*/

.popup-cart {
  display: none;
}

.popup-cart-top {
  font-size: 30px;
  line-height: 30px;
  color: #000000;

  background-color: #ffffff;
}

.popup-cart-bottom {
  background-color: #f1f1f1;
}

.button-shopping {
  color: #000000;

  background-color: #ffffff;
  border: none;
}

.button-shopping:hover {
  background-color: #ffffff;
  cursor: pointer;
}

/*
================================================
Стили футера
================================================
*/

.main-footer {
  color: #ffffff;

  background-color: #32425c;
}

.main-footer ul {
  list-style: none;
}

.footer-top {
  display: flex;
  justify-content: space-between;

  font-size: 18px;
  line-height: 24px;
}

.footer-top a {
  color: #ffffff;
}

.footer-top-left {
  width: 340px;
}

.footer-navigation-offers a {
  color: #ffd180;
}

.footer-bottom {
  font-size: 16px;
  line-height: 18px;

  background-color: #293449;
}

.footer-bottom .container {
  display: flex;
}

.footer-bottom a {
  color: #ffd180;
}

.footer-top-right a:hover,
.footer-navigation-offers a:hover,
.footer-feedback a:hover,
.footer-developer a:hover {
  text-decoration: underline;
}

.footer-top-right a:active {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.footer-navigation-offers a:active {
  color: rgba(255, 209, 128, 0.5);
  text-decoration: none;
}

.footer-feedback a:active,
.footer-developer a:active {
  color: #ee3643;
  text-decoration: none;
}